niceties/
emacs/.emacs.d/org-roam.db
emacs/.emacs.d/eclipse.jdt.ls
emacs/.emacs.d/forge-database.sqlite
emacs/.emacs.d/org-roam.db
emacs/.emacs.d/eln-cache
emacs/.emacs.d/elpa
emacs/.emacs.d/recentf
emacs/.emacs.d/transient
emacs/.emacs.d/auto-save-list/
emacs/.emacs.d/ido.last
emacs/.emacs.d/.cache
emacs/.emacs.d/.lsp-session*
emacs/.emacs.d/.dap-breakpoints
emacs/.emacs.d/bookmarks
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/smex-items
emacs/.emacs.d/url/