niceties/
.emacs.d/org-roam.db
.emacs.d/eclipse.jdt.ls
.emacs.d/forge-database.sqlite
.emacs.d/org-roam.db
.emacs.d/eln-cache
.emacs.d/elpa
.emacs.d/recentf
.emacs.d/transient
.emacs.d/auto-save-list/
.emacs.d/ido.last
.emacs.d/.cache
.emacs.d/.lsp-session*
.emacs.d/.dap-breakpoints
.emacs.d/bookmarks
.emacs.d/projectile-bookmarks.eld
.emacs.d/smex-items
.emacs.d/url/
.emacs.d/eshell
.emacs.d/.mc-lists.el
.emacs.d/network-security.data
.emacs.d/var/
.emacs.d/nix-buffer/trusted-exprs
clojure/.cpcache
clojure/lsp/sqlite.db
.emacs.d/session.*
.emacs.d/history
.emacs.d/bm-repository
.emacs.d/diary
.emacs.d/image-dired/
.emacs.d/perspective
.emacs.d/.session
.emacs.d/tutorial
.emacs.d/racket-mode
.emacs.d/screenshots
.emacs.d/tramp
.emacs.d/workspace
.emacs.d/nov-places
.emacs.d/request
.doom.d/custom.el
