{:keep-require-at-start? true
 :show-docs-arity-on-same-line? true
 :auto-add-ns-to-new-files? false
 :semantic-tokens? true
 :linters {:unused-public-var {:level :off}}
 :cljfmt {:indentation? true
          :remove-surrounding-whitespace? true
          :remove-trailing-whitespace? true
          :insert-missing-whitespace? true
          }}
