{:linters {:missing-docstring {:level :off}
           :unsorted-required-namespaces {:level :error}
           :refer {:level :warning}
           :refer-all {:level :warning}
           :use {:level :error}
           :single-key-in {:level :error}
           :shadowed-var {:level :error}
           :inline-def {:level :error}
           :missing-test-assertion {:level :error}
           :single-operand-comparison {:level :error}
           :unused-binding {:level :error}
           :unused-public-var {:level :off}
           :unused-import {:level :error}
           :consistent-alias {:aliases {clojure.string str}}}
 :skip-comments true}
